fastapi
uvicorn[standard]

sqlalchemy
psycopg[binary]
alembic

supabase

pydantic
pydantic-settings

python-dotenv

python-jose[cryptography]
passlib[bcrypt]
bcrypt

python-multipart
email-validator

httpx
requests

beautifulsoup4
playwright

apscheduler

loguru
orjson

groq

scikit-learn
pandas
numpy

razorpay